/.DS_Store
/.vscode
/Esp32Now
/Esp32Now.code-workspace
/Mypython.code-workspace
/Mytorch.py
/circuitPython1
/esp32-20220618-v1.19.1.bin
/esp32Terminal.py
/esp32esptool.py
/esp32serial.py
/esptool-v4.5.1-macos
/esptool-v4.5.1-macos.zip
/flagged
/flash
/holaPymakr
/holaesp32.py
/imprimirmac.py
/informacion.py
/ledESP32.code-workspace
/main.py
/main2.py
/main3.py
/prueba.py
/puertousb.py
/reset.py
/resetESP32.code-workspace
/text.py
/text2.py
/webrepl-master